.post {
    width: 300px;
    height: 400px;
    margin: 10px;
    border: solid #E76F51 1px;
    padding: 5px;
    background: #E9C46A;
}

body {
    background: #264653
}

.container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.title {
    font-family: 'Bebas Neue', cursive;
    color: #2A9D8F
}

.post-text, .author {
    font-family: 'Roboto Mono', monospace;
    font-size: 12px;
    color: black;
}

.post-img {
    height: 150px;
    width: auto;
    display: flex;
    align-content: center;
}

.img-container {
    display: flex;
    align-content: center;
    width: 100%;
}